{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Handover</h1>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/add_handover" method="post">
                        <div class="mb-3">
                            <label for="ticket" class="form-label">Ticket:</label>
                            <input class="form-control" type="text" name="ticket" placeholder="Ticket" required>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="ticket_type">
                                <option selected>Select ticket type</option>
                                <option value="change">Change</option>
                                <option value="service_request">Service Request</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="servers" class="form-label">Servers:</label>
                            <textarea class="form-control" name="servers" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="platform">
                                <option selected>Select platform</option>
                            {% for platform in platforms %}
                                <option value="{{ platform.platform_id }}">{{ platform.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="steps" class="form-label">Steps:</label>
                            <textarea class="form-control" name="steps" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="next_steps" class="form-label">Next steps:</label>
                            <textarea class="form-control" name="next_steps" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="chat_url" class="form-label">Chat URL:</label>
                            <input class="form-control" type="text" name="chat_url" placeholder="Chat URL" required>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="owner">
                                <option selected>Select owner</option>
                            {% for person in persons %}
                                <option value="{{ person.person_id }}">{{ person.username }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="old_owners" class="form-label">Old owners:</label>
                            <input class="form-control" type="text" name="old_owners" placeholder="Old owners">
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Add
                        </button>
                    </form>
                </div><!--card-body" -->
            </div><!-- card --> 
        </div><!-- col-md-6 -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control border rounded-pill" type="text" id="handoverInput" placeholder="Filter...">
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-info" onclick="exportTableToExcel('handoverTable', 'handovers')">Export</button>
                </div>
            </div>
            <br>
            <table id="myTable2" class="table table-bordered table-hover" id="handoverTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Ticket</th>
                    <th onclick="sortTable(0)">Ticket type&#9660;&#9650;</th>
                    <th>Servers</th>
                    <th onclick="sortTable(1)">Platform&#9660;&#9650;</th>
                    <th>Steps</th>
                    <th>Next steps</th>
                    <th>Chat URL</th>
                    <th onclick="sortTable(2)">Owner&#9660;&#9650;</th>
                    <th>Old owners</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for handover in handovers %}
                <tr>
                    <td>{{ handover.ho_id }}</td>
                    <td>{{ handover.ticket }}</td>
                    <td>{{ handover.ticket_type }}</td>
                    <td>{{ handover.servers }}</td>
                    <td>
                        {% for platform in platforms %}
                           {% if (platform.platform_id == handover.platform) %}
                               {{ platform.name }}
                           {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ handover.steps }}</td>
                    <td>{{ handover.next_steps }}</td>
                    <td>{{ handover.chat_url }}</td>
                    <td>
                        {% for person in persons %}
                           {% if (person.person_id == handover.owner) %}
                               {{ person.username }}
                           {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ handover.old_owners }}</td>
                    <td>{{ handover.is_active }}</td>
                    <td>
                        <a class="{{ 'btn btn-success' if handover.is_active else 'btn btn-dark'}}"
                           href="/turn_handover/{{ handover.ho_id }}">
                           Activate/Deactivate 
                        </a>
                        <a class="btn btn-danger"
                           href="/delete_handover/{{ handover.ho_id }}">
                            Delete
                        </a>
                        <a class="btn btn-info"
                           href="/update_handover/{{ handover.ho_id }}">
                            Edit
                        </a>
                        <a class="btn btn-secondary"
                           href="/reassign_handover/{{ handover.ho_id }}">
                            Reassign
                        </a>
                    </td>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- col-md-6 -->
    </div><!-- row -->
</div><!-- container -->
<script>
function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
</script>
<script>
//Function to filter the table
$(document).ready(function(){
  $("#handoverInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#handoverTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable2");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock %}
