{% if request.endpoint == 'person' %}
{% include "person.html" %}
{% elif request.endpoint == 'role' %}
{% include "role.html" %}
{% elif request.endpoint == 'shift' %}
{% include "shift.html" %}
{% elif request.endpoint == 'group' %}
{% include "group.html" %}
{% elif request.endpoint == 'platform' %}
{% include "platform.html" %}
{% elif request.endpoint == 'handover' %}
{% include "handover.html" %}
{% elif request.endpoint == 'chat' %}
{% include "chat.html" %}
{% else %}
{% include "content.html" %}
{% endif %}
