{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Person</h1>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/add_person" method="post">
                        <div class="mb-3">
                            <label for="fname" class="form-label">First Name:</label>
                            <input class="form-control" type="text" name="fname" placeholder="First Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="lname" class="form-label">Last Name:</label>
                            <input class="form-control" type="text" name="lname" placeholder="Last Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input class="form-control" type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input class="form-control" type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="role">
                                <option selected>Select role</option>
                            {% for role in roles %}
                                <option value="{{ role.role_id }}">{{ role.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="shift">
                                <option selected>Select shift</option>
                            {% for shift in shifts %}
                                <option value="{{ shift.shift_id }}">{{ shift.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="group">
                                <option selected>Select group</option>
                            {% for group in groups %}
                                <option value="{{ group.group_id }}">{{ group.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="group">
                                <option selected>Select platform</option>
                            {% for platform in platforms %}
                                <option value="{{ platform.platform_id }}">{{ platform.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Add
                        </button>
                    </form>
                </div><!--card-body" -->
            </div><!-- card --> 
        </div><!-- col-md-6 -->
        <div class="col-md-3">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Is Active</th>
                    <th>Role</th>
                    <th>Platform</th>
                    <th>Shift</th>
                    <th>Group</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for person in persons %}
                <tr>
                    <td>{{ person.person_id }}</td>
                    <td>{{ person.fname }}</td>
                    <td>{{ person.lname }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.username }}</td>
                    <td>{{ person.is_active }}</td>
                    <td>
                        {% for role in roles %}
                           {% if (role.role_id == person.role) %}
                               {{ role.name }}
                           {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for platform in platforms %}
                           {% if (platform.platform_id == person.platform) %}
                               {{ platform.name }}
                           {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for shift in shifts %}
                           {% if (shift.shift_id == person.shift) %}
                               {{ shift.name }}
                           {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for group in groups %}
                           {% if (group.group_id == person.group) %}
                               {{ group.name }}
                           {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a class="{{ 'btn btn-success' if person.is_active else 'btn btn-dark'}}"
                           href="/turn_person/{{ person.person_id }}">
                           Activate/Deactivate 
                        </a>
                        <a class="btn btn-danger"
                           href="/delete_person/{{ person.person_id }}">
                            Delete
                        </a>
                        <a class="btn btn-info"
                           href="/update_person/{{ person.person_id }}">
                            Edit
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- col-md-6 -->
    </div><!-- row -->
</div><!-- container -->

{% endblock %}
