{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Edit person</h1>
            <div class="card">
                <div class="card-body">
                    <form action="/add_person" method="post">
                        <div class="mb-3">
                            <label for="person_id" class="form-label">ID:</label>
                            <input class="form-control" type="text" name="person_id" placeholder="ID" value="{{ person.person_id }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="fname" class="form-label">First Name:</label>
                            <input class="form-control" type="text" name="fname" placeholder="First Name" value="{{ person.fname }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="lname" class="form-label">Last Name:</label>
                            <input class="form-control" type="text" name="lname" placeholder="Last Name" value="{{ person.lname }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input class="form-control" type="text" name="email" placeholder="Email" value="{{ person.email }}" required>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="text" name="username" placeholder="Username" value="{{ person.username }}" required>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="role">
                                <option selected>Select role</option>
                            {% for role in roles %}
                                <option value="{{ role.role_id }}" {% if (role.role_id == person.role) %} selected="selected" {% endif %}>{{ role.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="shift">
                                <option selected>Select shift</option>
                            {% for shift in shifts %}
                                <option value="{{ shift.shift_id }}" {% if (shift.shift_id == person.shift) %} selected="selected" {% endif %}>{{ shift.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="group">
                                <option selected>Select group</option>
                            {% for group in groups %}
                                <option value="{{ group.group_id }}" {% if (group.group_id == person.group) %} selected="selected" {% endif %}>{{ group.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="platform">
                                <option selected>Select platform</option>
                            {% for platform in platforms %}
                                <option value="{{ platform.platform_id }}" {% if (platform.platform_id == person.platform) %} selected="selected" {% endif %}>{{ platform.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Update 
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}





